version=0.20.1
profile=ocamlformat

align-cases=true
assignment-operator=begin-line
cases-exp-indent=2
exp-grouping=preserve
break-cases=fit-or-vertical
break-infix=fit-or-vertical
break-fun-decl=fit-or-vertical
break-fun-sig=fit-or-vertical
field-space=loose
let-binding-spacing=compact
margin=90
module-item-spacing=compact
parens-tuple=multi-line-only
parse-docstrings=true
sequence-style=terminator
space-around-arrays=true
space-around-lists=true
space-around-records=true
space-around-variants=true
type-decl=sparse
wrap-fun-args=false
